<p>edit works!</p>
<html>
<body>

<div class="add-page">

    <form  >
        <label for="cname">Course name:</label><br>
        <input type="text" id="cname" name="cname" value="Data Structures"><br>
        <label for="year">Year</label><br>
        <input type="number" id="year" name="year" min="0" max="3" value="2"><br>
        <label for="section">Section</label><br>
        <input type="text" id="section" name="section" value="comp sci"><br>
        <label for="meeting-time-start">Start Time</label><br>
        <input type="datetime-local" id="meeting-time-start"
        name="meeting-time-start" value="2021-05-19T11:35"><br>
        <label for="meeting-time-end">End Time</label><br>
        <input type="datetime-local" id="meeting-time-end"
        name="meeting-time-start" value="2021-05-19T11:35"><br>
       
        
        <br>
        <button type="submit" value="Submit">Submit</button>

        <button type="reset" >Reset</button>
      </form> 

</div>


</body>
</html>