<p>as-teacher works!</p>
<br>
<h3>
  <button class="btn btn-primary float-right" (click)="addEvent()">
    New course
  </button>
  <button routerLink="/new-course">Add </button> 
  <button routerLink="/edit">Edit </button> 

  <router-outlet></router-outlet>

  <div class="clearfix"></div>
</h3>

<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Title</th>
        <th>Details</th>
        <th>Starts at</th>
        <th>Ends at</th>
        <th>Remove</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let event of events">

        <td>
          <input
            type="text"
            [(ngModel)]="event.title"
            (keyup)="refresh.next()"
          />
        </td>

        <td>
            <input type="text" id="details" name="details">
          </td>
      
        <td>
            <input type="datetime-local" id="meeting-time"
            name="meeting-time" value="2021-05-19T11:35">
          <!--
                        <input
            class="form-control"
            type="text"
            mwlFlatpickr
            [(ngModel)]="event.start"
            (ngModelChange)="refresh.next()"
            [altInput]="true"
            [convertModelValue]="true"
            [enableTime]="true"
            dateFormat="Y-m-dTH:i"
            altFormat="F j, Y H:i"
            placeholder="Not set"
          />
          -->
        </td>

        <td>
            <input type="datetime-local" id="meeting-time"
            name="meeting-time" value="2021-05-19T11:35">
         <!--- <input
            class="form-control"
            type="text"
            mwlFlatpickr
           [(ngModel)]="event.end"
            (ngModelChange)="refresh.next()"
            [altInput]="true"
            [convertModelValue]="true"
            [enableTime]="true"
            dateFormat="Y-m-dTH:i"
            altFormat="F j, Y H:i"
            placeholder="Not set" 
          /> -->
        </td>
        <td>
          <button class="btn btn-danger" (click)="deleteEvent(event)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
